[submodule "FisherUtilsLib"]
	path = FisherUtilsLib
	url = git@github.com:fisher95/AndroidUtilsLib.git
[submodule "LovecustNetworkLib"]
	path = LovecustNetworkLib
	url = git@github.com:lovecust/LovecustNetworkLib.git
[submodule "EcustWifiLib"]
	path = EcustWifiLib
	url = https://github.com/lovecust/EcustWifiLib
