[submodule "FisherUtilsLib"]
	path = FisherUtilsLib
	url = git@github.com:fisher95/android-utils.git
[submodule "LovecustNetworkLib"]
	path = LovecustNetworkLib
	url = git@github.com:lovecust/LovecustNetworkLib.git
