<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.lovecust.app">

	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>

	<application
		android:name=".AppContext"
		android:allowBackup="true"
		android:icon="@mipmap/icon_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

		<activity
			android:name="com.lovecust.modules.app.launcher.ActivityLauncherSplashHome"
			android:autoRemoveFromRecents="true">
		</activity>

		<activity
			android:name="com.lovecust.modules.app.launcher.slide.ActivityLauncherSlideHome"
			android:autoRemoveFromRecents="true"/>
		<activity
			android:name="com.lovecust.modules.app.launcher.grid.ActivityLauncherGridHome"
			android:autoRemoveFromRecents="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name="com.lovecust.tests.test.ActivityLauncherTestHome"
			android:label="Lovecust"
			android:launchMode="singleTask">
		</activity>

		<!-- library -->
		<activity android:name="com.lovecust.modules.app.library.ActivityLibraryHome"/>
		<activity android:name="com.lovecust.modules.app.library.ActivityLibraryNewBook"/>
		<activity android:name="com.lovecust.modules.app.library.ActivityLibraryBookDetail"/>
		<activity android:name="com.lovecust.modules.app.library.ActivityLibraryTagManager"/>
		<activity android:name="com.lovecust.modules.app.library.ActivityLibraryTagEditor"/>

		<!-- ecust parts -->
		<activity android:name="com.lovecust.modules.ecust.wifi.ActivityEcustWifiHome"/>
		<activity android:name="com.lovecust.modules.ecust.jwc.ActivityEcustJWCHome"/>
		<activity android:name="com.lovecust.modules.ecust.jwc.ActivityEcustJwcDetail"/>
		<activity android:name="com.lovecust.modules.ecust.calendar.ActivityEcustCalendarHome"/>
		<activity android:name="com.lovecust.modules.ecust.library.ActivityEcustLibraryHome"/>
		<activity android:name="com.lovecust.modules.ecust.classroom.ActivityEcustClassroomHome"/>
		<activity android:name="com.lovecust.modules.ecust.morning.ActivityEcustMorningExercise"/>

		<!-- feedback -->
		<activity
			android:name="com.lovecust.modules.app.feedback.ActivityFeedbackHome"
			android:windowSoftInputMode="adjustResize"/>

		<!-- profile -->
		<activity android:name="com.lovecust.modules.app.profile.ActivityProfileHome"/>

		<!-- explore -->
		<service android:name="com.lovecust.modules.explore.popWindow.ServicePopWindowFisher"/>

		<activity android:name="com.lovecust.modules.explore.todo.ActivityExploreTodoHome"/>
		<activity android:name="com.lovecust.modules.explore.todo.ActivityExploreTodoSetting"/>

		<!-- setting -->
		<activity android:name="com.lovecust.modules.app.settings.ActivitySettingHome">
		</activity>
		<activity android:name="com.lovecust.modules.app.settings.ActivitySettingGeneral"/>

		<!-- about -->
		<activity android:name="com.lovecust.modules.app.about.ActivityAboutHome"/>
		<activity android:name="com.lovecust.modules.app.about.ActivityAboutUpdate"/>
		<activity android:name="com.lovecust.modules.app.about.ActivityAboutContact"/>
		<activity android:name="com.lovecust.modules.app.about.ActivityAboutShare"/>
		<activity android:name="com.lovecust.modules.app.about.ActivityAboutAbout"/>
		<activity android:name="com.lovecust.modules.app.about.ActivityAboutCopyright"/>

		<!-- test -->
		<activity android:name="com.lovecust.tests.test.ActivityDeviceHome"/>
	</application>

</manifest>
